<div class="container">

  <div>
    <div *ngIf="user; else unauthenticated">
      <div class="card">
        <div class="card-content">
          Logged in as {{ user.name }}.
          <a (click)="onLogout()" style="margin-left: 0.5rem;">
            Sign Out
          </a>
        </div>
      </div>
    </div>

    <ng-template #unauthenticated>
      <a class="button" href="/register">
        Register
      </a>
      <span style="margin: 0 1rem;">
        ~
      </span>
      <a class="button" href="/login">
        Log in
      </a>
    </ng-template>
  </div>

</div>
